* {
    box-sizing: border-box;
}
body {
    margin: 0;
    max-width: 1024px;
    font-family: "Roboto", Arial, Verdana;
    background-color: rgb(231, 228, 228);
}
ul {
    list-style: none;
    padding-left: 0;
  }
a {
    text-decoration: none;
  }
/* Navigation Bar */
nav {
    font-weight: 400;
    letter-spacing: .05em;
    padding: 25px;
  }
h1, .top-nav {
    text-align: center;
}
.top-nav, .top-nav li {
    width: 100%;
}
h1 a, .top-nav a {
    color: #000;
}
.top-nav {
    margin-top: 30px;
}
.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fff;
}
.top-nav a {
    text-transform: uppercase;
}
/*Introduction */
.introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.introduction img {
    width: 200px;
    height: auto;
}
.introduction .intro {
    padding: 0 25px;
}
/*Portfolio */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background: white;
    margin: 45px auto;
   
}
.col {
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    background-color: red;
    
}
.col img {
    width: 100%;
    height: auto;
}
.col h3 {
    margin-bottom: 0;
}
.col p {
    margin-top: 0;
}
.container h3 {
    width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
    font-weight: 150 bold;
    
}
/* Media Queries */
/*navigation*/
@media (min-width: 768px) {
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }
    .top-nav li:last-child {
        margin-right: 0;
    } 
    .introduction {
        display: flex;
        flex-direction: row-reverse;
    }
    .container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col {
        width: 50%;
    }
    .col img {
        padding: 15;
    }
  
   
    

}
@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }
    .profile-image {
        margin-right: 25px;
    }
}