* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Roboto", Arial, Verdana;
    background-color: #345655;
}
ul {
    list-style: none;
    padding-left: 0;
  }
a {
    text-decoration: none;
  }
a:hover {
    color:aqua;
}
/* Navigation Bar */
nav {
    font-weight: 400;
    letter-spacing: .05em;
    padding: 25px;
  }
h1, .top-nav {
    text-align: center;
}
.top-nav, .top-nav li {
    width: 100%;
}
h1 a,
footer h2 {
    font-family: 'Kanit', sans-serif;
}
h1 a,
.top,
.intro,
.footer-nav a,
footer h2,
.skills h3,
.skills p  {
    color: #fff;
}

.top-nav a {
    color: #000;
}

.top-nav {
    margin-top: 30px;
}
.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #EDE3D2;
}
.top-nav a {
    text-transform: uppercase;
}

.introduction {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.introduction img,
.skills img {
    width: 100%;
    height: auto;
    padding: 0 50px;
}
.introduction .intro {
    padding: 0 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background: #EBE1BD;
    margin: 45px auto 0 auto;
   
}
.col {
    flex: 1 360px;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
    
}
.col img {
    width: 100%;
    height: auto;
}
.col h3 {
    margin-bottom: 0;
}
.col p {
    margin-top: 0;
}
.container h3 {
    width: 100%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
    font-weight: 150 bold;
    
}


.contact {
    background-color: #EDE3D2;
}
.contact h3,
.skills h3 {
    text-transform: uppercase;
    margin: 0;
    padding: 20px;
}
.contact p,
.skills p {
    padding: 10px;
    margin: 0;
}
.contact h3, 
.contact p,
.skills h3,
.skills p {
    text-align: center;
}
/*footer section*/
footer {
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
  }
  .full {
    display: none;
  }
/* Media Queries */
@media (min-width: 768px) {
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }
    .top-nav li:last-child {
        margin-right: 0;
    } 
    .top-nav a {
        color: #fff;
    }
    .introduction {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        text-align: left;
    }
    .introduction img {
        padding: 0 25px;
    }
    .intro,
    .introduction img {
        width: auto;
    }
    .container {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col {
        flex-basis: 50%;
    }
    .col img {
        padding: 15;
    }
    .top {
        display: none;
      }
      .full {
        display: inline-block;
        margin-left: 20px;
      }
  
}
@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }
   
    .profile-image {
        width: auto;
    }
    .container {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .col {
        flex-basis: 33.333%;
    }
    
}